/*ESTILOS GENERALES*/
body{
  background: #d1defa;
  font-family: sans-serif,Arial, Helvetica;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "header header header header"
                      "nav nav nav nav" 
                      "content content content lateral"
                      "footer footer footer footer";
  grid-template-rows: 100px 70px auto 70px;
 grid-template-columns: 1fr 1fr 1fr 25%;
}
/*ESTILOS CABECERA*/
.header{
grid-area: header;
background-color: white;
text-align: left;
font-style: italic;
display: flex;
justify-content: center;
text-shadow: 0 0 10px #85afe0;/* Sombra para el brillo */
transition: text-shadow 0.5s ease-in-out;/* Transición suave para el efecto */
}
.header h1{
  margin-left: 15px;
  margin-top:30px;
 color:black;/* Color base del texto */

}

/* Define el efecto de brillo cuando el mouse está sobre el elemento */
.header:hover {
  text-shadow: 0 0 20px #0b70e1; /* Cambia el color de la sombra para el brillo */
}


.logo{
  background: linear-gradient(90deg,#03238f10 10%, #0e73e4 100%);
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-top: 30px;
}
.play{
  width: 0px;
  height: 0px;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  margin-top:15px ;
  margin-left: 16px;
}
/*ESTILOS DE LA BARRA DE NAVEGACION*/
.nav{
  grid-area: nav;
  background:linear-gradient(90deg,#03238f10 10%, #0e73e4 100%) ;
}
.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.nav li{
  padding: 10px;
}
.nav a{
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  color:white;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  transition: all 300ms;
}
.nav a:hover{
  transform: scale(1.1,1.1);
}
/*ESTILOS CONTENIDO PRINCIPAL*/
.content{
  grid-area: content;
  background: #f6f7f9;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: initial;
}

.articulo-item{
  display: flex;
  flex-grow: 1;
  background: white;
  box-shadow: 0px 0px 6px #ddd;
  margin: 10px;
  border-radius: 10px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
}
.articulo-item h3{
  font-size: 30px;
}

.articulo-item h3 a{
  text-decoration: none;
  color: black;
}
.articulo-item h3 a:hover{
  color: #e77b00;
  transition: 420ms
}
.articulo-item .mascara{
  width: 20%;
  overflow: hidden;
  margin-right: 50px;
}
.articulo-item .mascara img{
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="button"]{
 width:100px;
 text-decoration: none;
  background: #0b70e1  ;
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.articulo-item .edit{
  margin-right: 20px;
}
.articulo-item .edit{
margin-right: 7px;
}
.articulo-item .edit:hover{
  background: #e77b00;
}
.articulo-item .delete:hover{
  background: #9b0202;
}

/*ESTILOS BARRA LATERAL*/
.lateral{
  grid-area: lateral;
  background: #f6f7f9;
  border-left: 1px solid #ddd;
  padding: 20px;
  min-height:520px
}

.lateral > div{
  box-sizing:border-box ;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow:  0px 0px 6px #ddd;

}
.lateral input[type="text"],
.lateral textarea{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background:#f6f7f9 ;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}
/*ESTILOS DEL PIE DE PAGINA*/

.footer{
  background-color: #d1defa;
  grid-area: footer;
  color: #454545;
  border-top: 1px solid white;
  text-align: left;
  line-height: 68px;
  padding-left: 25px;
}
.footer a{
  color: #0b468a;
  text-decoration: none;
}

@media(max-width:1085px){
.content{
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

}
.articulo-item{
  width: 80%;
}
}



.listadoVacio{
  background-color:#0b70e1;
  color: white;
  margin: 0 auto;
  padding: 15px;
  border: white solid 1px;
  margin-top: 50px;
  border-radius: 10px;
}



/* FORMULARIOS*/

input[type="text"],
 textarea{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background:#f6f7f9 ;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}
/*Formulario Crear articulo*/
.form-group{
width: 50%;
margin: 0px auto;
}

.form-group label{
display: block;
text-align: left;
color: #444;
margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="file"],
.form-group textarea{
border: 1px solid #ddd;
outline: 0;
width: 100%;
margin-top: 0px;
margin-bottom: 15px;
}

/*No encontrado*/
.noEncontrado{ 
  color: red;
}


/*JUMBO PAGINA DE INICIO*/

.jumbo{
  min-height: 300px;
  width:85%;
  background: white;
  box-shadow: 0px 0px 6px #ddd;
  margin: 10px;
  border-radius: 10px;
  padding: 55px;
  margin:25px auto;
  margin-bottom: 50px;
  padding-bottom: 75px;
}


.jumbo h2{
  font-size: 30px;
  color: #444;
}
.jumbo p{
  display: block;
  margin-bottom: 40px;
  font-size: 20;
}
.contenido-articulo{
  text-align: left;
}

.jumbo .mascara{
  width: 100%;
  overflow: hidden;
  margin-right: 50px;
}
.jumbo .mascara img{
  width: 100%;
}

.datos{
  max-width: 700px;
}


